<hr>

# **RELACIONES ENTRE TABLAS**

<HR>

Hay tres tipos de relaciones:

- uno a uno (one-to-one)
- uno a muchos (one-to-many)
- muchos a muchos (many-to-many)

En una relación uno a uno, cada fila en una tabla está conectada con una y solo una fila de la otra tabla. Es como si una tabla estuviera dividida en dos.

En una relación uno a muchos, cada fila de una tabla coincide con varias filas de otra tabla.

Este es el tipo de relación que vemos con los libros y los autores. Un autor puede escribir varios libros pero cada libro tiene un solo autor.

Pero a veces los libros están escritos por más de un autor (por ejemplo, Neil Gaiman y Terry Pratchett). En estos casos, hablamos de relación muchos a muchos.

En una relación muchos a muchos, varias filas de una tabla coinciden con varias filas de otra tabla. Este tipo de relación produce una tabla de vinculación que combina las claves primarias de ambas tablas.

<hr>

## Diagrama ER

Se puede mostrar la estructura de las bases de datos con diagramas ER (entidad-relación).  Los diagramas muestran tablas y las relaciones entre ellas.

**Relaciones en diagramas ER**

Los diagramas ER también muestran relaciones. El final de la línea que conecta dos tablas indica si uno o varios valores de una tabla coinciden con los valores de la otra.

<hr>

## Buscar Valores Vacíos

En SQL, decimos que las celdas vacías son NULL. Se buscan con el operador IS NULL:

```

SELECT
    *
FROM
    table_name
WHERE
    column_name IS NULL;
```

A veces, en lugar de imprimir filas con valores NULL, queremos excluirlos del resultado.

En estos casos se utiliza el operador NOT:

```
SELECT
    *
FROM
    table_name
WHERE
    column_name IS NOT NULL;
```

Eliminar simplemente las filas NULL no siempre es la mejor opción. A veces querremos reemplazarlas con un cierto valor (digamos, la media) y podemos hacer que esto suceda en la consulta en sí. Para eso tenemos el operador CASE ("en casos cuando"). Es como  if-elif-else en Python:

```
CASE WHEN condition_1 THEN
    result_1
WHEN condition_2 THEN
    result_2
WHEN condition_3 THEN
    result_3
ELSE
    result_4
END;
```

Traducción de SQL:

Elige los campos name y publisher_id de la tabla books. Si el valor en la columna publisher_id está vacío, reemplázalo con -1. De lo contrario, deja el valor como está. Llama publisher_id_full a la columna resultante.

**EJEMPLO**

```
SELECT
    name,
    CASE WHEN publisher_id IS NULL THEN -1 -- si no se especifica la editorial, 
-- un publisher_id de -1
    ELSE publisher_id END AS publisher_id_full
FROM
    books;
```

## Ejercicios!

**Ejercicio 1**

Busca valores NULL en el campo weight de la tabla products. Imprime los siguientes campos: name,units,weight.

In [ ]:
SELECT
    name,
    units,
    weight 
FROM
    products
where 
    weight is null

**Ejercicio 2**

Encuentra el número de valores NULL en el campo weight de la tabla products.

In [ ]:
SELECT
    count(*)-
FROM
    products
where 
    weight is null

**Ejercicio 3**

Encuentra pesos promedios de los productos, agrupados por unidades de medida (units). Guárdalos en el nuevo campo con el nombre avg_weight. Las columnas deben ir en este orden: avg_weight, units.

In [ ]:
SELECT
    avg(weight::real) as avg_weight ,
    units
FROM
    products
group by 
    units

**Ejercicio 4**

Utiliza una consulta que contenga CASE para reemplazar manualmente NULL con los promedios que calculamos en la tarea anterior en cada grupo de units. Llama el campo resultante weight_full. Los valores de la columna deben ser cadenas e ir en el siguiente orden: name, weight_full.

Necesitarás los resultados del ejercicio anterior:

- 23.0705263269575,oz
- 10.0,ct
- 12.0909090909091,pk
- 0.650793650793651,gal
- 1.0,%
- 1.0,pt
- 1.0,qt

In [ ]:
SELECT

    name,
    CASE WHEN weight IS NULL
        AND units = '%' THEN
        '1.0'
    WHEN weight IS NULL
        AND units = 'pt' THEN
        '1.0'
    WHEN weight IS NULL
        AND units = 'ct' THEN
        '10.0'
    WHEN weight IS NULL
        AND units = 'qt' THEN
        '1.0'
    WHEN weight IS NULL
        AND units = 'gal' THEN
        '0.650793650793651'
    WHEN weight IS NULL
        AND units = 'pk' THEN
        '12.0909090909091'
    WHEN weight IS NULL
        AND units = 'oz' THEN
        '23.0705263269575'
    ELSE
        weight
    END AS weight_full
FROM
    products;