<hr>

# **SQL Avanzado**

<hr>

## Agrupar datos

Necesitamos utilizar la función de agregación COUNT. El comando GROUP BY nos ayudará a encontrar el número de filas por autor:

In [ ]:
SELECT
    author,
    COUNT(name) AS cnt
FROM
    books
GROUP BY
    author;

Ahora sabemos cuántos libros escribió cada uno de los autores de nuestra tabla.

Esta vez, calculemos los totales de libros agrupados por autor y género.

In [ ]:
SELECT
    author,
    genre,
    COUNT(name) AS cnt
FROM
    books
GROUP BY
    author,
    genre;