<hr>

# **SQL Avanzado**

<hr>

## Agrupar datos

Necesitamos utilizar la función de agregación COUNT. El comando GROUP BY nos ayudará a encontrar el número de filas por autor:

In [ ]:
SELECT
    author,
    COUNT(name) AS cnt
FROM
    books
GROUP BY
    author;

Ahora sabemos cuántos libros escribió cada uno de los autores de nuestra tabla.

Esta vez, calculemos los totales de libros agrupados por autor y género.

In [ ]:
SELECT
    author,
    genre,
    COUNT(name) AS cnt
FROM
    books
GROUP BY
    author,
    genre;

GROUP BY se puede usar con cualquier función de agregación: COUNT, AVG, SUM, MAX y MIN. Puedes llamar a varias funciones al mismo tiempo. Calculemos el número promedio de páginas en los libros de cada autor y el número de páginas en su libro más largo.

In [ ]:
SELECT
    author,
    AVG(pages) AS avg_pages,
    MAX(pages) AS max_pages
FROM
    books
GROUP BY
    author;

## Practiquemos!

**Ejercicio 1:**

Supongamos que tienes una tabla llamada sales que registra las ventas de productos por día. La estructura de la tabla es la siguiente:

- product_id: Identificador único del producto.
- date_sold: Fecha en que se realizó la venta.
- quantity: Cantidad vendida del producto.
- price: Precio unitario del producto.
- total: Total de la venta (cantidad * precio).

Escribe una consulta para obtener el total de ventas diarias para cada producto. Mostrar los siguientes campos en el resultado:

- date_sold: Fecha de la venta.
- product_id: Identificador único del producto.
- total_sales: Total de ventas para ese producto en esa fecha.

In [ ]:
SELECT
    date_sold,
    product_id,
    SUM(total) AS total_sales
FROM
    sales
GROUP BY
    date_sold,
    product_id;

**Ejercicio 2:**

Supongamos que tienes una tabla llamada students que registra la asistencia de estudiantes a clases. La estructura de la tabla es la siguiente:

- student_id: Identificador único del estudiante.
- date_attended: Fecha en que el estudiante asistió a clase.
- subject: Materia o asignatura a la que asistió el estudiante.
- attendance_status: Estado de asistencia del estudiante (presente, ausente, tardanza, etc.).

Escribe una consulta para obtener la cantidad total de asistencias por estudiante y por materia. Mostrar los siguientes campos en el resultado:

- student_id: Identificador único del estudiante.
- subject: Materia.
- total_attendance: Cantidad total de asistencias del estudiante a esa materia.

In [ ]:
SELECT
    student_id,
    subject,
    COUNT(*) AS total_attendance
FROM
    students
GROUP BY
    student_id,
    subject;

**Ejercicio 3**

Antes de realizar el ejercicio, te instamos primero a extraer las primeras 5 filas de la tabla products_data_all y echarlas un vistazo. El objetivo es familiarizarse con los datos con los que vas a trabajar. Después, procede a realizar la tarea descrita a continuación:

Escribe una consulta para calcular el número total de productos (name) y el número de productos únicos para cada tienda (name_store). Nombra las variables name_cnt y name_uniq_cnt respectivamente. Imprime los nombres de las tiendas, el número total de productos y el número de productos únicos. Las columnas deben aparecer en este orden: name_store, name_cnt y name_uniq_cnt.

In [ ]:
SELECT 
	name_store,
    count(name) as name_cnt,
    count(distinct name) as name_uniq_cnt
    
FROM
    products_data_all
GROUP BY
    name_store


**Ejercicio 4**

Escribe una consulta para calcular el peso máximo de producto para cada categoría (category).  Nombra la variable max_weight y conviértela al tipo real. Imprime la categoría y el peso máximo.

In [ ]:
SELECT 
	category,
    max(weight :: real) as max_weight
FROM
    products_data_all
Group by
    category