# **ESTUDIO DE CASO**

presenta un conjunto de mini prácticas para que las resuelvas usando un nuevo conjunto de datos que contiene información sobre los pasajeros del Titanic.

## Ejercicio 1

El conjunto de datos ya se leyó. Llama al método info() para tener una mejor idea de los datos que tienes disponibles.

```python
import pandas as pd

df = pd.read_csv('/datasets/titanic.csv')

df.info()

#Resultado==========================

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB
```

## Ejercicio 2

Podemos ver que las columnas 'deck' y 'age' son las que tienen la mayoría de los valores ausentes. Utiliza el filtrado para obtener las filas con valores ausentes en la columna 'deck' o en la columna 'age'. Almacena los resultados en la variable mis_val_rows y muéstrala.


```python
import pandas as pd

df = pd.read_csv('/datasets/titanic.csv')

mis_val_rows = df[df['deck'].isna()|df['age'].isna()]
print(mis_val_rows)

#RESULTADO===========================================

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0           0       3    male  22.0  ...   NaN  Southampton     no  False
2           1       3  female  26.0  ...   NaN  Southampton    yes   True
4           0       3    male  35.0  ...   NaN  Southampton     no   True
5           0       3    male   NaN  ...   NaN   Queenstown     no   True
7           0       3    male   2.0  ...   NaN  Southampton     no  False
8           1       3  female  27.0  ...   NaN  Southampton    yes  False
9           1       2  female  14.0  ...   NaN    Cherbourg    yes  False
12          0       3    male  20.0  ...   NaN  Southampton     no   True
13          0       3    male  39.0  ...   NaN  Southampton     no  False
14          0       3  female  14.0  ...   NaN  Southampton     no   True
15          1       2  female  55.0  ...   NaN  Southampton    yes   True
16          0       3    male   2.0  ...   NaN   Queenstown     no  False
17          1       2    male   NaN  ...   NaN  Southampton    yes   True
18          0       3  female  31.0  ...   NaN  Southampton     no  False
19          1       3  female   NaN  ...   NaN    Cherbourg    yes   True
20          0       2    male  35.0  ...   NaN  Southampton     no   True
22          1       3  female  15.0  ...   NaN   Queenstown    yes   True
24          0       3  female   8.0  ...   NaN  Southampton     no  False
25          1       3  female  38.0  ...   NaN  Southampton    yes  False
26          0       3    male   NaN  ...   NaN    Cherbourg     no   True
28          1       3  female   NaN  ...   NaN   Queenstown    yes   True
29          0       3    male   NaN  ...   NaN  Southampton     no   True
30          0       1    male  40.0  ...   NaN    Cherbourg     no   True
31          1       1  female   NaN  ...     B    Cherbourg    yes  False
32          1       3  female   NaN  ...   NaN   Queenstown    yes   True
33          0       2    male  66.0  ...   NaN  Southampton     no   True
34          0       1    male  28.0  ...   NaN    Cherbourg     no  False
35          0       1    male  42.0  ...   NaN  Southampton     no  False
36          1       3    male   NaN  ...   NaN    Cherbourg    yes   True
37          0       3    male  21.0  ...   NaN  Southampton     no   True
..        ...     ...     ...   ...  ...   ...          ...    ...    ...
852         0       3  female   9.0  ...   NaN    Cherbourg     no  False
854         0       2  female  44.0  ...   NaN  Southampton     no  False
855         1       3  female  18.0  ...   NaN  Southampton    yes  False
856         1       1  female  45.0  ...   NaN  Southampton    yes  False
858         1       3  female  24.0  ...   NaN    Cherbourg    yes  False
859         0       3    male   NaN  ...   NaN    Cherbourg     no   True
860         0       3    male  41.0  ...   NaN  Southampton     no  False
861         0       2    male  21.0  ...   NaN  Southampton     no  False
863         0       3  female   NaN  ...   NaN  Southampton     no  False
864         0       2    male  24.0  ...   NaN  Southampton     no   True
865         1       2  female  42.0  ...   NaN  Southampton    yes   True
866         1       2  female  27.0  ...   NaN    Cherbourg    yes  False
868         0       3    male   NaN  ...   NaN  Southampton     no   True
869         1       3    male   4.0  ...   NaN  Southampton    yes  False
870         0       3    male  26.0  ...   NaN  Southampton     no   True
873         0       3    male  47.0  ...   NaN  Southampton     no   True
874         1       2  female  28.0  ...   NaN    Cherbourg    yes  False
875         1       3  female  15.0  ...   NaN    Cherbourg    yes   True
876         0       3    male  20.0  ...   NaN  Southampton     no   True
877         0       3    male  19.0  ...   NaN  Southampton     no   True
878         0       3    male   NaN  ...   NaN  Southampton     no   True
880         1       2  female  25.0  ...   NaN  Southampton    yes  False
881         0       3    male  33.0  ...   NaN  Southampton     no   True
882         0       3  female  22.0  ...   NaN  Southampton     no   True
883         0       2    male  28.0  ...   NaN  Southampton     no   True
884         0       3    male  25.0  ...   NaN  Southampton     no   True
885         0       3  female  39.0  ...   NaN   Queenstown     no  False
886         0       2    male  27.0  ...   NaN  Southampton     no   True
888         0       3  female   NaN  ...   NaN  Southampton     no  False
890         0       3    male  32.0  ...   NaN   Queenstown     no   True

[707 rows x 15 columns]
```

## Ejercicio 3

También sería de ayuda examinar las filas con un valor ausente en la columna 'age', pero no en la columna 'deck'. ¿Hay alguna fila así? Filtra el DataFrame y almacena el resultado en la variable age_nan. Finalmente, muestra la variable para ver su contenido.

```python
import pandas as pd

df = pd.read_csv('/datasets/titanic.csv')

age_nan = df[(df['age'].isna()) & ~(df['deck'].isna())]
print( age_nan )

#RESULTADO ==============================

     survived  pclass     sex  age  ...  deck  embark_town  alive  alone
31          1       1  female  NaN  ...     B    Cherbourg    yes  False
55          1       1    male  NaN  ...     C  Southampton    yes   True
128         1       3  female  NaN  ...     F    Cherbourg    yes  False
166         1       1  female  NaN  ...     E  Southampton    yes  False
185         0       1    male  NaN  ...     A  Southampton     no   True
284         0       1    male  NaN  ...     A  Southampton     no   True
298         1       1    male  NaN  ...     C  Southampton    yes   True
303         1       2  female  NaN  ...     E   Queenstown    yes   True
351         0       1    male  NaN  ...     C  Southampton     no   True
457         1       1  female  NaN  ...     D  Southampton    yes  False
475         0       1    male  NaN  ...     A  Southampton     no   True
527         0       1    male  NaN  ...     C  Southampton     no   True
669         1       1  female  NaN  ...     C  Southampton    yes  False
711         0       1    male  NaN  ...     C  Southampton     no   True
740         1       1    male  NaN  ...     D  Southampton    yes   True
776         0       3    male  NaN  ...     F   Queenstown     no   True
815         0       1    male  NaN  ...     B  Southampton     no   True
839         1       1    male  NaN  ...     C    Cherbourg    yes   True
849         1       1  female  NaN  ...     C    Cherbourg    yes  False

[19 rows x 15 columns]
```

## Ejercicio 4

xaminemos la columna 'deck' y sus valores. Primero, extrae la columna 'deck' del DataFrame y almacénala en la variable deck_col.

Después, utiliza un método adecuado para contar el número de veces que ocurre cada valor único en esa columna, incluyendo los valores ausentes. Almacena el resultado en la variable deck_val.

A continuación, ordena los resultados del conteo por índice utilizando un método adecuado. Esto es necesario, ya que la columna 'deck' tiene valores de una sola letra tales como A, B, C, etc. Almacena los resultados ordenados en la variable deck_val.

Por último, muestra deck_val llamando la función print().


```python
import pandas as pd

df = pd.read_csv('/datasets/titanic.csv')

deck_col = df['deck']
deck_val = deck_col.value_counts(dropna=False).sort_index()

print(deck_val)

#Resultado ========================

A       15
B       47
C       59
D       33
E       32
F       13
G        4
NaN    688
Name: deck, dtype: int64
```

# Ejercicio 5

Completa los valores que faltan en la columna 'deck' con el valor 'Unknown'. Una vez completado, muestra las primeras filas del DataFrame.

```python
import pandas as pd

df = pd.read_csv('/datasets/titanic.csv')

df['deck'].fillna('Unknown', inplace=True)

print( df.head() )

#Resultado ===================================

   survived  pclass     sex   age  ...     deck  embark_town  alive  alone
0         0       3    male  22.0  ...  Unknown  Southampton     no  False
1         1       1  female  38.0  ...        C    Cherbourg    yes  False
2         1       3  female  26.0  ...  Unknown  Southampton    yes   True
3         1       1  female  35.0  ...        C  Southampton    yes  False
4         0       3    male  35.0  ...  Unknown  Southampton     no   True

[5 rows x 15 columns]
```

## Ejercicio 6

Finalmente, vamos a obtener el mismo resultado, pero usando el método where(). Una vez completado, muestra las primeras filas del DataFrame.

```python
import pandas as pd

df = pd.read_csv('/datasets/titanic.csv')

df['deck'] = df['deck'].where(~df['deck'].isna(), other='Unknown')

print( df.head() )

#Resultado =======================

   survived  pclass     sex   age  ...     deck  embark_town  alive  alone
0         0       3    male  22.0  ...  Unknown  Southampton     no  False
1         1       1  female  38.0  ...        C    Cherbourg    yes  False
2         1       3  female  26.0  ...  Unknown  Southampton    yes   True
3         1       1  female  35.0  ...        C  Southampton    yes  False
4         0       3    male  35.0  ...  Unknown  Southampton     no   True

[5 rows x 15 columns]
```

## Ejercicio 7

Para comprobar los resultados del remplazo, filtra el DataFrame para extraer todas las filas en donde el valor de la columna 'deck' sea 'Unknown'. Utiliza un filtro simple para resolver este ejercicio. Almacena el DataFrame resultante en la variable deck_unknown y muéstralo.

```python
import pandas as pd

df = pd.read_csv('/datasets/titanic.csv')
df['deck'] = df['deck'].fillna('Unknown')

deck_unknown = df[df['deck']== 'Unknown']

print( deck_unknown )

#Resultado ===================================================

     survived  pclass     sex   age  ...     deck  embark_town  alive  alone
0           0       3    male  22.0  ...  Unknown  Southampton     no  False
2           1       3  female  26.0  ...  Unknown  Southampton    yes   True
4           0       3    male  35.0  ...  Unknown  Southampton     no   True
5           0       3    male   NaN  ...  Unknown   Queenstown     no   True
7           0       3    male   2.0  ...  Unknown  Southampton     no  False
8           1       3  female  27.0  ...  Unknown  Southampton    yes  False
9           1       2  female  14.0  ...  Unknown    Cherbourg    yes  False
12          0       3    male  20.0  ...  Unknown  Southampton     no   True
13          0       3    male  39.0  ...  Unknown  Southampton     no  False
14          0       3  female  14.0  ...  Unknown  Southampton     no   True
15          1       2  female  55.0  ...  Unknown  Southampton    yes   True
16          0       3    male   2.0  ...  Unknown   Queenstown     no  False
17          1       2    male   NaN  ...  Unknown  Southampton    yes   True
18          0       3  female  31.0  ...  Unknown  Southampton     no  False
19          1       3  female   NaN  ...  Unknown    Cherbourg    yes   True
20          0       2    male  35.0  ...  Unknown  Southampton     no   True
22          1       3  female  15.0  ...  Unknown   Queenstown    yes   True
24          0       3  female   8.0  ...  Unknown  Southampton     no  False
25          1       3  female  38.0  ...  Unknown  Southampton    yes  False
26          0       3    male   NaN  ...  Unknown    Cherbourg     no   True
28          1       3  female   NaN  ...  Unknown   Queenstown    yes   True
29          0       3    male   NaN  ...  Unknown  Southampton     no   True
30          0       1    male  40.0  ...  Unknown    Cherbourg     no   True
32          1       3  female   NaN  ...  Unknown   Queenstown    yes   True
33          0       2    male  66.0  ...  Unknown  Southampton     no   True
34          0       1    male  28.0  ...  Unknown    Cherbourg     no  False
35          0       1    male  42.0  ...  Unknown  Southampton     no  False
36          1       3    male   NaN  ...  Unknown    Cherbourg    yes   True
37          0       3    male  21.0  ...  Unknown  Southampton     no   True
38          0       3  female  18.0  ...  Unknown  Southampton     no  False
..        ...     ...     ...   ...  ...      ...          ...    ...    ...
852         0       3  female   9.0  ...  Unknown    Cherbourg     no  False
854         0       2  female  44.0  ...  Unknown  Southampton     no  False
855         1       3  female  18.0  ...  Unknown  Southampton    yes  False
856         1       1  female  45.0  ...  Unknown  Southampton    yes  False
858         1       3  female  24.0  ...  Unknown    Cherbourg    yes  False
859         0       3    male   NaN  ...  Unknown    Cherbourg     no   True
860         0       3    male  41.0  ...  Unknown  Southampton     no  False
861         0       2    male  21.0  ...  Unknown  Southampton     no  False
863         0       3  female   NaN  ...  Unknown  Southampton     no  False
864         0       2    male  24.0  ...  Unknown  Southampton     no   True
865         1       2  female  42.0  ...  Unknown  Southampton    yes   True
866         1       2  female  27.0  ...  Unknown    Cherbourg    yes  False
868         0       3    male   NaN  ...  Unknown  Southampton     no   True
869         1       3    male   4.0  ...  Unknown  Southampton    yes  False
870         0       3    male  26.0  ...  Unknown  Southampton     no   True
873         0       3    male  47.0  ...  Unknown  Southampton     no   True
874         1       2  female  28.0  ...  Unknown    Cherbourg    yes  False
875         1       3  female  15.0  ...  Unknown    Cherbourg    yes   True
876         0       3    male  20.0  ...  Unknown  Southampton     no   True
877         0       3    male  19.0  ...  Unknown  Southampton     no   True
878         0       3    male   NaN  ...  Unknown  Southampton     no   True
880         1       2  female  25.0  ...  Unknown  Southampton    yes  False
881         0       3    male  33.0  ...  Unknown  Southampton     no   True
882         0       3  female  22.0  ...  Unknown  Southampton     no   True
883         0       2    male  28.0  ...  Unknown  Southampton     no   True
884         0       3    male  25.0  ...  Unknown  Southampton     no   True
885         0       3  female  39.0  ...  Unknown   Queenstown     no  False
886         0       2    male  27.0  ...  Unknown  Southampton     no   True
888         0       3  female   NaN  ...  Unknown  Southampton     no  False
890         0       3    male  32.0  ...  Unknown   Queenstown     no   True

[688 rows x 15 columns]
```

## Ejercicio 8

Ahora, vamos a obtener el mismo resultado, pero usando el método query(). Almacena el resultado en la misma variable deck_unknown y muéstralo.

```python
import pandas as pd

df = pd.read_csv('/datasets/titanic.csv')
df['deck'] = df['deck'].fillna('Unknown')

deck_unknown = df.query("deck == 'Unknown'")

print( deck_unknown )

#Resultado =======================================

     survived  pclass     sex   age  ...     deck  embark_town  alive  alone
0           0       3    male  22.0  ...  Unknown  Southampton     no  False
2           1       3  female  26.0  ...  Unknown  Southampton    yes   True
4           0       3    male  35.0  ...  Unknown  Southampton     no   True
5           0       3    male   NaN  ...  Unknown   Queenstown     no   True
7           0       3    male   2.0  ...  Unknown  Southampton     no  False
8           1       3  female  27.0  ...  Unknown  Southampton    yes  False
9           1       2  female  14.0  ...  Unknown    Cherbourg    yes  False
12          0       3    male  20.0  ...  Unknown  Southampton     no   True
13          0       3    male  39.0  ...  Unknown  Southampton     no  False
14          0       3  female  14.0  ...  Unknown  Southampton     no   True
15          1       2  female  55.0  ...  Unknown  Southampton    yes   True
16          0       3    male   2.0  ...  Unknown   Queenstown     no  False
17          1       2    male   NaN  ...  Unknown  Southampton    yes   True
18          0       3  female  31.0  ...  Unknown  Southampton     no  False
19          1       3  female   NaN  ...  Unknown    Cherbourg    yes   True
20          0       2    male  35.0  ...  Unknown  Southampton     no   True
22          1       3  female  15.0  ...  Unknown   Queenstown    yes   True
24          0       3  female   8.0  ...  Unknown  Southampton     no  False
25          1       3  female  38.0  ...  Unknown  Southampton    yes  False
26          0       3    male   NaN  ...  Unknown    Cherbourg     no   True
28          1       3  female   NaN  ...  Unknown   Queenstown    yes   True
29          0       3    male   NaN  ...  Unknown  Southampton     no   True
30          0       1    male  40.0  ...  Unknown    Cherbourg     no   True
32          1       3  female   NaN  ...  Unknown   Queenstown    yes   True
33          0       2    male  66.0  ...  Unknown  Southampton     no   True
34          0       1    male  28.0  ...  Unknown    Cherbourg     no  False
35          0       1    male  42.0  ...  Unknown  Southampton     no  False
36          1       3    male   NaN  ...  Unknown    Cherbourg    yes   True
37          0       3    male  21.0  ...  Unknown  Southampton     no   True
38          0       3  female  18.0  ...  Unknown  Southampton     no  False
..        ...     ...     ...   ...  ...      ...          ...    ...    ...
852         0       3  female   9.0  ...  Unknown    Cherbourg     no  False
854         0       2  female  44.0  ...  Unknown  Southampton     no  False
855         1       3  female  18.0  ...  Unknown  Southampton    yes  False
856         1       1  female  45.0  ...  Unknown  Southampton    yes  False
858         1       3  female  24.0  ...  Unknown    Cherbourg    yes  False
859         0       3    male   NaN  ...  Unknown    Cherbourg     no   True
860         0       3    male  41.0  ...  Unknown  Southampton     no  False
861         0       2    male  21.0  ...  Unknown  Southampton     no  False
863         0       3  female   NaN  ...  Unknown  Southampton     no  False
864         0       2    male  24.0  ...  Unknown  Southampton     no   True
865         1       2  female  42.0  ...  Unknown  Southampton    yes   True
866         1       2  female  27.0  ...  Unknown    Cherbourg    yes  False
868         0       3    male   NaN  ...  Unknown  Southampton     no   True
869         1       3    male   4.0  ...  Unknown  Southampton    yes  False
870         0       3    male  26.0  ...  Unknown  Southampton     no   True
873         0       3    male  47.0  ...  Unknown  Southampton     no   True
874         1       2  female  28.0  ...  Unknown    Cherbourg    yes  False
875         1       3  female  15.0  ...  Unknown    Cherbourg    yes   True
876         0       3    male  20.0  ...  Unknown  Southampton     no   True
877         0       3    male  19.0  ...  Unknown  Southampton     no   True
878         0       3    male   NaN  ...  Unknown  Southampton     no   True
880         1       2  female  25.0  ...  Unknown  Southampton    yes  False
881         0       3    male  33.0  ...  Unknown  Southampton     no   True
882         0       3  female  22.0  ...  Unknown  Southampton     no   True
883         0       2    male  28.0  ...  Unknown  Southampton     no   True
884         0       3    male  25.0  ...  Unknown  Southampton     no   True
885         0       3  female  39.0  ...  Unknown   Queenstown     no  False
886         0       2    male  27.0  ...  Unknown  Southampton     no   True
888         0       3  female   NaN  ...  Unknown  Southampton     no  False
890         0       3    male  32.0  ...  Unknown   Queenstown     no   True

[688 rows x 15 columns]
```

## Ejercicio 9

Ahora, examinemos los duplicados. Supongamos que ya sabemos que existen los duplicados. El objetivo es filtrar el DataFrame para extraer únicamente filas duplicadas y almacenarlas en la variable duplicates. Por último, muestra la variable duplicates.

```python
import pandas as pd

df = pd.read_csv('/datasets/titanic.csv')
df['deck'] = df['deck'].fillna('Unknown')

duplicates = df[df.duplicated()]

print( duplicates )

#Resultado ================================================

     survived  pclass     sex   age  ...     deck  embark_town  alive  alone
47          1       3  female   NaN  ...  Unknown   Queenstown    yes   True
76          0       3    male   NaN  ...  Unknown  Southampton     no   True
77          0       3    male   NaN  ...  Unknown  Southampton     no   True
87          0       3    male   NaN  ...  Unknown  Southampton     no   True
95          0       3    male   NaN  ...  Unknown  Southampton     no   True
101         0       3    male   NaN  ...  Unknown  Southampton     no   True
121         0       3    male   NaN  ...  Unknown  Southampton     no   True
133         1       2  female  29.0  ...  Unknown  Southampton    yes  False
173         0       3    male  21.0  ...  Unknown  Southampton     no   True
196         0       3    male   NaN  ...  Unknown   Queenstown     no   True
198         1       3  female   NaN  ...  Unknown   Queenstown    yes   True
201         0       3    male   NaN  ...  Unknown  Southampton     no  False
213         0       2    male  30.0  ...  Unknown  Southampton     no   True
223         0       3    male   NaN  ...  Unknown  Southampton     no   True
241         1       3  female   NaN  ...  Unknown   Queenstown    yes  False
260         0       3    male   NaN  ...  Unknown   Queenstown     no   True
274         1       3  female   NaN  ...  Unknown   Queenstown    yes   True
295         0       1    male   NaN  ...  Unknown    Cherbourg     no   True
300         1       3  female   NaN  ...  Unknown   Queenstown    yes   True
304         0       3    male   NaN  ...  Unknown  Southampton     no   True
313         0       3    male  28.0  ...  Unknown  Southampton     no   True
320         0       3    male  22.0  ...  Unknown  Southampton     no   True
324         0       3    male   NaN  ...  Unknown  Southampton     no  False
335         0       3    male   NaN  ...  Unknown  Southampton     no   True
343         0       2    male  25.0  ...  Unknown  Southampton     no   True
354         0       3    male   NaN  ...  Unknown    Cherbourg     no   True
355         0       3    male  28.0  ...  Unknown  Southampton     no   True
358         1       3  female   NaN  ...  Unknown   Queenstown    yes   True
359         1       3  female   NaN  ...  Unknown   Queenstown    yes   True
364         0       3    male   NaN  ...  Unknown   Queenstown     no  False
..        ...     ...     ...   ...  ...      ...          ...    ...    ...
666         0       2    male  25.0  ...  Unknown  Southampton     no   True
674         0       2    male   NaN  ...  Unknown  Southampton     no   True
692         1       3    male   NaN  ...  Unknown  Southampton    yes   True
696         0       3    male  44.0  ...  Unknown  Southampton     no   True
709         1       3    male   NaN  ...  Unknown    Cherbourg    yes  False
732         0       2    male   NaN  ...  Unknown  Southampton     no   True
733         0       2    male  23.0  ...  Unknown  Southampton     no   True
734         0       2    male  23.0  ...  Unknown  Southampton     no   True
738         0       3    male   NaN  ...  Unknown  Southampton     no   True
739         0       3    male   NaN  ...  Unknown  Southampton     no   True
757         0       2    male  18.0  ...  Unknown  Southampton     no   True
758         0       3    male  34.0  ...  Unknown  Southampton     no   True
760         0       3    male   NaN  ...  Unknown  Southampton     no   True
773         0       3    male   NaN  ...  Unknown    Cherbourg     no   True
790         0       3    male   NaN  ...  Unknown   Queenstown     no   True
792         0       3  female   NaN  ...  Unknown  Southampton     no  False
800         0       2    male  34.0  ...  Unknown  Southampton     no   True
808         0       2    male  39.0  ...  Unknown  Southampton     no   True
832         0       3    male   NaN  ...  Unknown    Cherbourg     no   True
837         0       3    male   NaN  ...  Unknown  Southampton     no   True
838         1       3    male  32.0  ...  Unknown  Southampton    yes   True
844         0       3    male  17.0  ...  Unknown  Southampton     no   True
846         0       3    male   NaN  ...  Unknown  Southampton     no  False
859         0       3    male   NaN  ...  Unknown    Cherbourg     no   True
863         0       3  female   NaN  ...  Unknown  Southampton     no  False
870         0       3    male  26.0  ...  Unknown  Southampton     no   True
877         0       3    male  19.0  ...  Unknown  Southampton     no   True
878         0       3    male   NaN  ...  Unknown  Southampton     no   True
884         0       3    male  25.0  ...  Unknown  Southampton     no   True
886         0       2    male  27.0  ...  Unknown  Southampton     no   True

[107 rows x 15 columns]
```