# **ESTUDIO DE CASO**

presenta un conjunto de mini prácticas para que las resuelvas usando un nuevo conjunto de datos que contiene información sobre los pasajeros del Titanic.

## Ejercicio 1

El conjunto de datos ya se leyó. Llama al método info() para tener una mejor idea de los datos que tienes disponibles.

```python
import pandas as pd

df = pd.read_csv('/datasets/titanic.csv')

df.info()

#Resultado==========================

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB
```

## Ejercicio 2

Podemos ver que las columnas 'deck' y 'age' son las que tienen la mayoría de los valores ausentes. Utiliza el filtrado para obtener las filas con valores ausentes en la columna 'deck' o en la columna 'age'. Almacena los resultados en la variable mis_val_rows y muéstrala.


```python
import pandas as pd

df = pd.read_csv('/datasets/titanic.csv')

mis_val_rows = df[df['deck'].isna()|df['age'].isna()]
print(mis_val_rows)

#RESULTADO===========================================

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0           0       3    male  22.0  ...   NaN  Southampton     no  False
2           1       3  female  26.0  ...   NaN  Southampton    yes   True
4           0       3    male  35.0  ...   NaN  Southampton     no   True
5           0       3    male   NaN  ...   NaN   Queenstown     no   True
7           0       3    male   2.0  ...   NaN  Southampton     no  False
8           1       3  female  27.0  ...   NaN  Southampton    yes  False
9           1       2  female  14.0  ...   NaN    Cherbourg    yes  False
12          0       3    male  20.0  ...   NaN  Southampton     no   True
13          0       3    male  39.0  ...   NaN  Southampton     no  False
14          0       3  female  14.0  ...   NaN  Southampton     no   True
15          1       2  female  55.0  ...   NaN  Southampton    yes   True
16          0       3    male   2.0  ...   NaN   Queenstown     no  False
17          1       2    male   NaN  ...   NaN  Southampton    yes   True
18          0       3  female  31.0  ...   NaN  Southampton     no  False
19          1       3  female   NaN  ...   NaN    Cherbourg    yes   True
20          0       2    male  35.0  ...   NaN  Southampton     no   True
22          1       3  female  15.0  ...   NaN   Queenstown    yes   True
24          0       3  female   8.0  ...   NaN  Southampton     no  False
25          1       3  female  38.0  ...   NaN  Southampton    yes  False
26          0       3    male   NaN  ...   NaN    Cherbourg     no   True
28          1       3  female   NaN  ...   NaN   Queenstown    yes   True
29          0       3    male   NaN  ...   NaN  Southampton     no   True
30          0       1    male  40.0  ...   NaN    Cherbourg     no   True
31          1       1  female   NaN  ...     B    Cherbourg    yes  False
32          1       3  female   NaN  ...   NaN   Queenstown    yes   True
33          0       2    male  66.0  ...   NaN  Southampton     no   True
34          0       1    male  28.0  ...   NaN    Cherbourg     no  False
35          0       1    male  42.0  ...   NaN  Southampton     no  False
36          1       3    male   NaN  ...   NaN    Cherbourg    yes   True
37          0       3    male  21.0  ...   NaN  Southampton     no   True
..        ...     ...     ...   ...  ...   ...          ...    ...    ...
852         0       3  female   9.0  ...   NaN    Cherbourg     no  False
854         0       2  female  44.0  ...   NaN  Southampton     no  False
855         1       3  female  18.0  ...   NaN  Southampton    yes  False
856         1       1  female  45.0  ...   NaN  Southampton    yes  False
858         1       3  female  24.0  ...   NaN    Cherbourg    yes  False
859         0       3    male   NaN  ...   NaN    Cherbourg     no   True
860         0       3    male  41.0  ...   NaN  Southampton     no  False
861         0       2    male  21.0  ...   NaN  Southampton     no  False
863         0       3  female   NaN  ...   NaN  Southampton     no  False
864         0       2    male  24.0  ...   NaN  Southampton     no   True
865         1       2  female  42.0  ...   NaN  Southampton    yes   True
866         1       2  female  27.0  ...   NaN    Cherbourg    yes  False
868         0       3    male   NaN  ...   NaN  Southampton     no   True
869         1       3    male   4.0  ...   NaN  Southampton    yes  False
870         0       3    male  26.0  ...   NaN  Southampton     no   True
873         0       3    male  47.0  ...   NaN  Southampton     no   True
874         1       2  female  28.0  ...   NaN    Cherbourg    yes  False
875         1       3  female  15.0  ...   NaN    Cherbourg    yes   True
876         0       3    male  20.0  ...   NaN  Southampton     no   True
877         0       3    male  19.0  ...   NaN  Southampton     no   True
878         0       3    male   NaN  ...   NaN  Southampton     no   True
880         1       2  female  25.0  ...   NaN  Southampton    yes  False
881         0       3    male  33.0  ...   NaN  Southampton     no   True
882         0       3  female  22.0  ...   NaN  Southampton     no   True
883         0       2    male  28.0  ...   NaN  Southampton     no   True
884         0       3    male  25.0  ...   NaN  Southampton     no   True
885         0       3  female  39.0  ...   NaN   Queenstown     no  False
886         0       2    male  27.0  ...   NaN  Southampton     no   True
888         0       3  female   NaN  ...   NaN  Southampton     no  False
890         0       3    male  32.0  ...   NaN   Queenstown     no   True

[707 rows x 15 columns]
```

## Ejercicio 3

También sería de ayuda examinar las filas con un valor ausente en la columna 'age', pero no en la columna 'deck'. ¿Hay alguna fila así? Filtra el DataFrame y almacena el resultado en la variable age_nan. Finalmente, muestra la variable para ver su contenido.

```python
import pandas as pd

df = pd.read_csv('/datasets/titanic.csv')

age_nan = df[(df['age'].isna()) & ~(df['deck'].isna())]
print( age_nan )

#RESULTADO ==============================

     survived  pclass     sex  age  ...  deck  embark_town  alive  alone
31          1       1  female  NaN  ...     B    Cherbourg    yes  False
55          1       1    male  NaN  ...     C  Southampton    yes   True
128         1       3  female  NaN  ...     F    Cherbourg    yes  False
166         1       1  female  NaN  ...     E  Southampton    yes  False
185         0       1    male  NaN  ...     A  Southampton     no   True
284         0       1    male  NaN  ...     A  Southampton     no   True
298         1       1    male  NaN  ...     C  Southampton    yes   True
303         1       2  female  NaN  ...     E   Queenstown    yes   True
351         0       1    male  NaN  ...     C  Southampton     no   True
457         1       1  female  NaN  ...     D  Southampton    yes  False
475         0       1    male  NaN  ...     A  Southampton     no   True
527         0       1    male  NaN  ...     C  Southampton     no   True
669         1       1  female  NaN  ...     C  Southampton    yes  False
711         0       1    male  NaN  ...     C  Southampton     no   True
740         1       1    male  NaN  ...     D  Southampton    yes   True
776         0       3    male  NaN  ...     F   Queenstown     no   True
815         0       1    male  NaN  ...     B  Southampton     no   True
839         1       1    male  NaN  ...     C    Cherbourg    yes   True
849         1       1  female  NaN  ...     C    Cherbourg    yes  False

[19 rows x 15 columns]
```