##BUCLES!

Funciones integradas como

min() ---.> Se usa para encontrar el valor minimo de la lista

max() ---.> Se usa para encontrar el valor maximo de la lista

sum() ----> Toma la lista como argumento y devuelve la suma de sus elementos

In [1]:
#OPERADORES DE ASIGNACION AUMENTADA
fr_speakers = 284.9
fr_speakers += 2.5
print(fr_speakers)

287.4

In [2]:
#¡Lo conseguimos de nuevo! Los operadores de asignación aumentada funcionan de la misma manera que otros operadores aritméticos. Compruébalo por tu cuenta. Ejecuta el siguiente código para ver cómo las asignaciones aumentadas cambian el valor original de items.

items = 10

items += 5 # igual que items = items + 5
print(items)

items -= 5 # igual que items = items - 5
print(items)

items *= 3 # igual que items = items * 3
print(items)

items /= 5 # igual que items = items / 5
print(items)

15
10
30
6.0

In [3]:
#Ejercicio 1
#Cambia el valor de it_speakers: agrégale 5 utilizando la asignación aumentada. Muestra el nuevo valor.

it_speakers = 67.8
it_speakers += 5

print(it_speakers)
# actualiza aquí el valor de la variable
# imprime aquí el valor de la variable

72.8

FUNCIONES INTEGRADAS

In [4]:
movies_duration = [142, 175, 152, 195, 201, 154, 178, 139, 133, 126]

total_duration = sum(movies_duration) #suma todos los elementos de la lista
max_duration = max(movies_duration) #obtiene el elemento más grande en la lista
min_duration = min(movies_duration) #obtiene el elemento más pequeño en la lista


print(total_duration)
print(max_duration)
print(min_duration)

1595
201
126

BUCLES FOR

In [6]:
film_genres = ['scifi','drama','thriller','comedy','action']
for i in film_genres:
    print(i)

scifi
drama
thriller
comedy
action

In [7]:
#Escribe bucle for para que los elementos de payers se impriman

payers = [56, 65, 64, 63]

for i in payers:
  print(i)
# escribe tu código aquí

56
65
64
63

In [ ]:
actors = ['John Travolta', 'Bonnie Hunt', 'Jason Bateman', 'Idris Elba']
for actor in actors:  #el codigo no presentaba los 2 puntos
    print(actor)        #tampoco tenía la indentacion necesaria

In [8]:
#Los bucles funcionan con todo tipo de listas. Escribe un bucle que imprima todos los elementos de la lista elements.

elements = [42, 'hello', 0.5, -999, 'world']

for i in elements:
  print(i)
# escribe tu código aquí

42
hello
0.5
-999
world

In [9]:
#Crea un bucle que muestre todos los caracteres del string message_japanese uno por uno.

message_japanese = '機械翻訳は通常良くありません'

for i in message_japanese:
  print(i)
# escribe tu código aquí

機
械
翻
訳
は
通
常
良
く
あ
り
ま
せ
ん

BUCLES CON LISTAS ANIDADAS!

In [10]:
#En cada iteración, el bucle almacena un elemento de la lista en la variable row. Ese elemento es otra lista, pero no tienes que preocuparte por eso. La función print() en el cuerpo del bucle muestra los elementos de la lista uno por uno hasta mostrar la lista completa, ¡tal como lo hiciste con una lista simple!

movies_info = [
    ['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111],
    ['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.730],
    ['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499],
    ["Schindler's List", 'USA', 1993, 'drama', 195, 8.818],
    ['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625],
    ['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619],
    ['The Good, the Bad and the Ugly', 'Italy', 1966, 'western', 178, 8.521],
    ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644],
    ['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106],
    ['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]
]

for row in movies_info:
    print(row) # imprimirá una fila completa en cada iteración

['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111]
['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.73]
['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499]
["Schindler's List", 'USA', 1993, 'drama', 195, 8.818]
['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625]
['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619]
['The Good, the Bad and the Ugly', 'Italy', 1966, 'western', 178, 8.521]
['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644]
['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106]
['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]

In [11]:
#Lo bueno de obtener otra lista como elemento de tu bucle es que puedes acceder a su contenido mediante sus índices.

movies_info = [
    ['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111],
    ['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.730],
    ['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499],
    ["Schindler's List", 'USA', 1993, 'drama', 195, 8.818],
    ['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625],
    ['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619],
    ['The Good, the Bad and the Ugly', 'Italy', 1966, 'western', 178, 8.521],
    ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644],
    ['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106],
    ['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]
]

for row in movies_info:
    print(row[0]) # imprime los títulos. Necesitamos la primera columna, por lo que el índice es 0.

The Shawshank Redemption
The Godfather
The Dark Knight
Schindler's List
The Lord of the Rings: The Return of the King
Pulp Fiction
The Good, the Bad and the Ugly
Fight Club
Harakiri
Good Will Hunting

In [12]:
#Ya hemos mostrado los títulos de las películas. Intentemos mostrar los géneros de las películas de la tabla movies_info. Cada valor debe estar en una nueva línea.

movies_info = [
    ['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111],
    ['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.730],
    ['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499],
    ["Schindler's List", 'USA', 1993, 'drama', 195, 8.818],
    ['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625],
    ['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619],
    ['The Good, the Bad and the Ugly', 'Italy', 1966, 'western', 178, 8.521],
    ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644],
    ['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106],
    ['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]
]

for i in movies_info:
  print(i[3])

drama
drama, crime
fantasy, action, thriller
drama
fantasy, adventure, drama
thriller, comedy, crime
western
thriller, drama, crime
drama, action, history
drama, romance

In [15]:
#Todas las películas tienen una duración en minutos. Para convertirla en horas, itera sobre movies_info, extrae la duración y guárdala en la variable runtime. Luego, utiliza la [asignación aumentada] para actualizar la variable runtime. Una vez actualizada, muestra la duración en horas.

movies_info = [
    ['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111],
    ['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.730],
    ['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499],
    ["Schindler's List", 'USA', 1993, 'drama', 195, 8.818],
    ['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625],
    ['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619],
    ['The Good, the Bad and the Ugly', 'Italy', 1966, 'western', 178, 8.521],
    ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644],
    ['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106],
    ['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]
]

for row in movies_info:
    runtime = row[4]
    runtime /= 60 # convierte la duración extraída a horas
    print(runtime)

2.3666666666666667
2.9166666666666665
2.533333333333333
3.25
3.35
2.566666666666667
2.966666666666667
2.316666666666667
2.216666666666667
2.1

BUCLES WHILE