IF ELSE - SENTENCIAS CONDICIONALES

Hay varios tipos de expresiones en Python que devuelven True o False:
Expresiones que contienen operadores de comparación: ==, !=, >, <, >=, <=.
Expresiones que contienen operadores lógicos: and, or, not.
Funciones de predicado.

In [9]:
#SEGUIREMOS USANDO LA MISMA LISTA

movies_info = [
    ['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111],
    ['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.730],
    ['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499],
    ["Schindler's List", 'USA', 1993, 'drama', 195, 8.818],
    ['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625],
    ['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619],
    ['The Good, the Bad and the Ugly', 'Italy', 1966, 'western', 178, 8.521],
    ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644],
    ['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106],
    ['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]
]

In [10]:
movie_info = ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644]

print(movie_info[2] > 1996 and movie_info[2] < 1998)

False

In [11]:
movie_info = ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644]

print(movie_info[2] > 1996 or movie_info[2] < 1998)

True

FUNCIONES DE PREDICADO

Una función de predicado es cualquier función que devuelve True o False. Por ejemplo, estos son algunos métodos de cadena que comprueban si los caracteres de una cadena cumplen ciertas condiciones:

islower() devuelve True si todos los caracteres alfabéticos de la cadena están en minúsculas;

isdigit() devuelve True si una cadena contiene solo números;

isalpha() devuelve True si una cadena contiene solo letras. Si una cadena contiene signos de puntuación o espacios, devolverá False.

IF/ELSE

In [12]:
weather = 'sol'

# condicional
if weather == 'lluvia':
    print('llevar paraguas')
else:
    print('llevar un sombrero')
print('¡vamos!')

llevar un sombrero
¡vamos!

In [13]:
#Utiliza una sentencia condicional para comprobar la puntuación de The Godfather. Si es mayor o igual a 8.5, muestra el mensaje 'High rating' (puntuación alta). Si no, muestra 'Average rating' (puntuación media).

movie_rating = 8.73 # Puntuación de The Godfather
# escribe tu código aquí
if movie_rating >= 8.5:
  print ("High rating")
else:
  print("Average rating")

High rating

COMPROBACION DE SUBCADENA

Para utilizar este operador, simplemente escribe la subcadena que estás buscando, seguida del operador in, seguido de la cadena más grande dentro de la cual deseas buscar. Si la subcadena está presente dentro de la cadena más grande, el operador devolverá True; de lo contrario, devolverá False.

In [14]:
equipo = "Aquí estoy yo en el equipo"

if "estoy" in equipo:
    print("Aquí estoy yo en el equipo")
else:
    print("Es verdad, no hay yo en el equipo.")

Aquí estoy yo en el equipo

In [15]:
quote = "El progreso es imposible sin cambio y aquellos que no pueden cambiar de opinión no pueden cambiar nada."
if "ogres" in quote:
    print("Donde hay progreso, ¡hay queso!")
else:
    print("¡Aquí no, pequeño bromista!")

Donde hay progreso, ¡hay queso!

SENTENCIA ELIF

El uso de la palabra clave elif nos permite agregar cualquier número de ramas. Sin embargo, solo se ejecutará una rama: aquella cuya condición se cumpla primero. Todas las demás ramas serán ignoradas.
Por eso es importante ordenar correctamente las ramas, con las condiciones más específicas primero y las más generales al final. Al hacer esto, podemos asegurarnos de que el código se comporte como esperamos y que se cubran todos los casos posibles.

In [16]:
weather = 'lluvia'

if weather == 'lluvia':
    item_to_take = 'paraguas'
if weather == 'sol':
    item_to_take = 'sombrero'
if weather == 'nieve':
    item_to_take = 'gorro y bufanda'
else:
    item_to_take = 'nada'

print(weather)
print(item_to_take)

#el codigo no funcionara bien debido a que no se esta utilizando el ELIF

lluvia
nada

In [17]:
weather = 'lluvia'

if weather == 'lluvia':
    item_to_take = 'paraguas'
elif weather == 'sol':
    item_to_take = 'sombrero'
elif weather == 'nieve':
    item_to_take = 'gorro y bufanda'
else:
    item_to_take = 'nada'

print(weather)
print(item_to_take)

lluvia
paraguas

CONDICIONALES EN BUCLES FOR

En combinación con un bucle for, las sentencias condicionales se convierten en una herramienta indispensable para los especialistas y las especialistas en datos; con ellas puedes comprobar cada elemento de la lista para una condición.

In [18]:
#Echa un vistazo a la lista years, que almacena los años de estreno de películas. Mostraremos la década correspondiente a cada año. Para hacerlo, revisaremos varios rangos que cubren los años desde 1960 hasta 2009:

years = [1994, 1972, 2008, 1993, 2003, 1994, 1966, 1999, 1962, 1997]

for year in years: 
    if 1960 <= year <= 1969: 
        print('La película se estrenó en la década de 1960.') 
    elif 1970 <= year <= 1979:
        print('La película se estrenó en la década de 1970.') 
    elif 1980 <= year <= 1989: 
        print('La película se estrenó en la década de 1980.') 
    elif 1990 <= year <= 1999: 
        print('La película se estrenó en la década de 1990.') 
    elif 2000 <= year <= 2009:
        print('La película se estrenó en la década de los 2000.') 
    else: 
        print('Tiempo no definido.')

La película se estrenó en la década de 1990.
La película se estrenó en la década de 1970.
La película se estrenó en la década de los 2000.
La película se estrenó en la década de 1990.
La película se estrenó en la década de los 2000.
La película se estrenó en la década de 1990.
La película se estrenó en la década de 1960.
La película se estrenó en la década de 1990.
La película se estrenó en la década de 1960.
La película se estrenó en la década de 1990.

In [19]:
#En el precódigo, tienes una lista de countries en la que se almacenan los países donde se estrenaron determinadas películas. Escribe un bucle for que itere sobre los elementos de la lista of countries y que imprima el mensaje correspondiente para cada uno de sus elementos:
#Para USA, imprimamos 'The movie was released in the USA.'
#Para Francia: 'Le film est sorti en France.'
#Para Italia: 'Il film e stato rilasciato in Italia.'
#Para cualquier otro país: 'Country not defined.' ('País no definido.')

countries = ['Francia', 'Italia', 'Nueva Zelanda', 'Italia', 'Francia', 'EE. UU.']

# empieza a escribir tu bucle for aquí
for country in countries:
    if country == "EE. UU.":
        print("The movie was released in the USA.")
    elif country == "Francia":
        print("Le film est sorti en France.")
    elif country == "Italia":
        print("Il film e stato rilasciato in Italia.")

Le film est sorti en France.
Il film e stato rilasciato in Italia.
Il film e stato rilasciato in Italia.
Le film est sorti en France.
The movie was released in the USA.

In [20]:
#Las puntuaciones de las películas se almacenan en la variable ratings (puntuaciones). Utiliza un bucle y una sentencia condicional para convertir estas puntuaciones de un sistema de 100 puntos a un sistema de 5 puntos, de acuerdo con las siguientes reglas:
#2: de 0 a 59 puntos
#3: de 60 a 72 puntos
#4: de 73 a 84 puntos
#5: de 85 a 100 puntos
#Muestra el resultado de cada iteración como hicimos en el ejemplo anterior; muestra cada puntuación en una nueva línea.

ratings = [91, 35, 65, 89, 78, 93]

# empieza a escribir tu bucle for aquí
for i in ratings:
  if 59 >= i >= 0:
    print(2)
  elif 72 >= i >= 60:
    print(3)
  elif 84 >= i >= 73:
    print (4)
  else:
    print(5)

5
2
3
5
4
5

MODIFICACION DE TABLAS

In [21]:
#La modificación de valores en una tabla es una operación común en el procesamiento de datos. Podemos utilizar bucles para modificar valores en una tabla. Imaginemos que tenemos una tabla de películas con el siguiente formato:

movies = [
    ["The Shawshank Redemption", 1994, "Frank Darabont"],
    ["The Godfather", 1972, "Francis Ford Coppola"],
    ["The Dark Knight", 2008, "Christopher Nolan"],
    ["12 Angry Men", 1957, "Sidney Lumet"],
    ["Schindler's List", 1994, "Steven Spielberg"],
    ["The Lord of the Rings: The Return of the King", 2003, "Peter Jackson"]
]

In [22]:
#Supongamos que queremos cambiar el año de lanzamiento de "Schindler's List" de 1994 a 1993. Podemos utilizar el siguiente código:

movies = [
    ["The Shawshank Redemption", 1994, "Frank Darabont"],
    ["The Godfather", 1972, "Francis Ford Coppola"],
    ["The Dark Knight", 2008, "Christopher Nolan"],
    ["12 Angry Men", 1957, "Sidney Lumet"],
    ["Schindler's List", 1994, "Steven Spielberg"],
    ["The Lord of the Rings: The Return of the King", 2003, "Peter Jackson"]
]

movie_name = "Schindler's List"
correct_year = 1993

for movie in movies: # haz un bucle por todas las películas
    if movie[0] == movie_name: # si el título de la película es el que queremos arreglar
        movie[1] = correct_year # asigna el valor deseado


for movie in movies: # haz un bucle por todas las películas
    print(movie)

['The Shawshank Redemption', 1994, 'Frank Darabont']
['The Godfather', 1972, 'Francis Ford Coppola']
['The Dark Knight', 2008, 'Christopher Nolan']
['12 Angry Men', 1957, 'Sidney Lumet']
["Schindler's List", 1993, 'Steven Spielberg']
['The Lord of the Rings: The Return of the King', 2003, 'Peter Jackson']

In [23]:
movies = [
    ["The Shawshank Redemption", 1994, "Frank Darabont"],
    ["The Godfather", 1972, "Francis Ford Coppola"],
    ["The Dark Knight", 2008, "Christopher Nolan"],
    ["12 Angry Men", 1957, "Sidney Lumet"],
    ["Schindler's List", 1994, "Steven Spielberg"],
    ["The Lord of the Rings: The Return of the King", 2003, "Peter Jackson"]
]

movie_name1= "The Lord of the Rings: The Return of the King"
real_director = "Alejandro Espinoza"

for director in movies:
  if director[0] == movie_name1:
    director[2] = real_director

for i in movies:
  print(i)

['The Shawshank Redemption', 1994, 'Frank Darabont']
['The Godfather', 1972, 'Francis Ford Coppola']
['The Dark Knight', 2008, 'Christopher Nolan']
['12 Angry Men', 1957, 'Sidney Lumet']
["Schindler's List", 1994, 'Steven Spielberg']
['The Lord of the Rings: The Return of the King', 2003, 'Alejandro Espinoza']

In [24]:
#Ahora debes modificar la tabla para cambiar la última película a la primera de Lord of the Rings.
#Su nombre completo es “The Lord of the Rings: The Fellowship of the Ring” y fue lanzada en 2001.
#Para realizar los cambios, escribe un bucle for que recorra los elementos de la lista movies. Cuando llegues a una sublista que tenga "The Lord of the Rings: The Return of the King", sustituye tanto el nombre como el año de estreno.


movies = [
    ["The Shawshank Redemption", 1994, "Frank Darabont"],
    ["The Godfather", 1972, "Francis Ford Coppola"],
    ["The Dark Knight", 2008, "Christopher Nolan"],
    ["12 Angry Men", 1957, "Sidney Lumet"],
    ["Schindler's List", 1993, "Steven Spielberg"],
    ["The Lord of the Rings: The Return of the King", 2003, "Peter Jackson"]
]

movie_to_change = "The Lord of the Rings: The Return of the King"
new_movie = "The Lord of the Rings: The Fellowship of the Ring"
new_year = 2001

for movie in movies:
	if movie[0] == movie_to_change:
            movie[0] = new_movie
            movie[1] = new_year



# no modifiques el código de abajo, ya que imprime el resultado
for movie in movies:
    print(movie)

['The Shawshank Redemption', 1994, 'Frank Darabont']
['The Godfather', 1972, 'Francis Ford Coppola']
['The Dark Knight', 2008, 'Christopher Nolan']
['12 Angry Men', 1957, 'Sidney Lumet']
["Schindler's List", 1993, 'Steven Spielberg']
['The Lord of the Rings: The Fellowship of the Ring', 2001, 'Peter Jackson']

FILTRAT TABLAS

Partes de un filtro
Un filtro para una tabla consta de tres partes:

Una variable con una lista vacía para agregar filas coincidentes.

Un bucle que recorre la tabla original.

Una sentencia condicional con if. Si una sublista cumple la condición, se agregará a la variable que almacena elementos que cumplen con nuestro filtro.

In [25]:
#Vamos a crear un filtro que almacene películas con una duración mayor a 180 minutos en una nueva lista anidada. Ejecuta el código de abajo y luego lo comentaremos.

movies_info = [
    ['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111],
    ['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.730],
    ['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499],
    ["Schindler's List", 'USA', 1993, 'drama', 195, 8.818],
    ['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625],
    ['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619],
    ['The Good, the Bad and the Ugly', 'Italy', 1966, 'western', 178, 8.521],
    ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644],
    ['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106],
    ['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]
]

movies_filtered = [] # lista vacía para almacenar el resultado

for movie in movies_info: # recorre en bucle las filas de la tabla original
    if movie[4] > 180: # si una película dura más de 180 minutos
        movies_filtered.append(movie) # agrega la fila a movies_filtered

for movie in movies_filtered: # muestra el contenido de movies_filtered
    print(movie)

["Schindler's List", 'USA', 1993, 'drama', 195, 8.818]
['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625]

In [26]:
#Creemos otro filtro para almacenar todas las películas japonesas en una nueva lista. Examina el código que aparece a continuación y ejecútalo para ver cuál será el resultado.

movies_info = [
    ['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111],
    ['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.730],
    ['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499],
    ["Schindler's List", 'USA', 1993, 'drama', 195, 8.818],
    ['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625],
    ['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619],
    ['The Good, the Bad and the Ugly', 'Italy', 1966, 'western', 178, 8.521],
    ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644],
    ['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106],
    ['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]
]

movies_filtered = [] # lista vacía para almacenar el resultado
country= "Japan"

for movie in movies_info: # recorre en bucle las filas de la tabla original
    if movie[1] == country: # si la película es de Japón,
        movies_filtered.append(movie) # agrega esta fila a movies_filtered

for movie in movies_filtered: # muestra el contenido de movies_filtered
    print(movie)

['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106]

In [27]:

#Ejercicio 1
#Obtén todas las películas americanas de la tabla movies_info utilizando un filtro. Guarda el resultado en movies_filtered.

movies_info = [
    ['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111],
    ['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.730],
    ['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499],
    ["Schindler's List", 'USA', 1993, 'drama', 195, 8.818],
    ['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625],
    ['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619],
    ['The Good, the Bad and the Ugly', 'Italy', 1966, 'western', 178, 8.521],
    ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644],
    ['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106],
    ['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]
]

movies_filtered = [] # lista vacía para almacenar el resultado

for i in movies_info:
  if i[1] == "USA":
    movies_filtered.append(i)

for i in movies_filtered:
  print(i)


#muestra el resultado
#print(movies_filtered)

['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111]
['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.73]
['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499]
["Schindler's List", 'USA', 1993, 'drama', 195, 8.818]
['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619]
['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644]
['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]

OPERADORES LOGICOS Y FILTROS

In [28]:
#Vamos a comprobar dos condiciones para obtener las películas que se estrenaron en los EE. UU. después de 1990. Examina el código que aparece a continuación y ejecútalo. Lo comentaremos enseguida.

movies_info = [
    ['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111],
    ['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.730],
    ['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499],
    ["Schindler's List", 'USA', 1993, 'drama', 195, 8.818],
    ['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625],
    ['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619],
    ['The Good, the Bad and the Ugly', 'Italy', 1966, 'western', 178, 8.521],
    ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644],
    ['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106],
    ['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]
]

movies_filtered = [] 

for movie in movies_info: # un bucle sobre cada película
    if movie[2] > 1990 and movie[1] == 'USA': # si la película se estrenó después de 1990 y en los EE. UU.,
        movies_filtered.append(movie) # la agregamos a la nueva lista

for movie in movies_filtered:
    print(movie)

['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111]
['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499]
["Schindler's List", 'USA', 1993, 'drama', 195, 8.818]
['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619]
['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644]
['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]

In [29]:
#Crea la lista movies_filtered y añádele aquellas películas que se estrenaron en 1994 o que tienen una puntuación inferior a 8.5.

movies_info = [
    ['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111],
    ['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.730],
    ['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499],
    ["Schindler's List", 'USA', 1993, 'drama', 195, 8.818],
    ['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625],
    ['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619],
    ['The Good, the Bad and the Ugly', 'Italy', 1966, 'western', 178, 8.521],
    ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644],
    ['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106],
    ['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]
]

movies_filtered = []

for i in movies_info:
    if i[2] == 1994 or i[-1] < 8.5:
        movies_filtered.append(i)

# no modifiques el código de abajo ya que imprime el resultado final
for movie in movies_filtered:
    print(movie)

['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111]
['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499]
['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619]
['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106]
['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]

AHORA A PRACTICAR

In [30]:

#El Banco ABC ha presentado una nueva cuenta Elite diseñada para clientes y clientas de alto poder adquisitivo que ganan más de $200 000 al año. Escribe código para iterar sobre los clientes y las clientas, comprueba que sus ingresos anuales superen los $200 000 y agrega la sublista sobre un cliente o una clienta elegible a la variable elite_clients, que es una lista de clientes ricos. Muestra la variable elite_clients al final.

clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"]
]

elite_clients = [] # añade la variable elite_clients aquí

for i in clients:
  if i[3] > 200000:
    elite_clients.append(i)


print(elite_clients)

[[34591, 'Nina Brown', 45, 250000, 'Telecom'], [37512, 'Alex Smith', 39, 210000, 'IT'], [39591, 'Brian Perez', 29, 340000, 'Transportation'], [49571, 'Samantha Chen', 42, 220000, 'Retail']]

In [31]:
#El departamento de marketing quiere una lista de todos los clientes y las clientas del banco, dividida en cuatro segmentos de cuenta. Te han pedido que les presentes la lista. Divide a todos los clientes y las clientas del Banco ABC en cuatro segmentos: cuenta Standard para clientes y clientas con ingresos inferiores a $100 000, cuenta Plus para ingresos de $100 000 a $200 000, cuenta Elite para ingresos de $200 000 a $300 000 y cuenta ejecutiva para ingresos de $300 000 o más.
#En el precódigo a continuación, verás cuatro variables con las listas: standard, plus, elite y executive. Escribe código para iterar sobre los clientes y las clientas, comprueba a qué categoría pertenecen sus ingresos y agrégalos a la lista correspondiente. Muestra la lista de clientes y clientas executive al final.

clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
    [34556, "Lucas Hernandez", 37, 75000, "Education"],
    [64291, "Jessica Li", 25, 125000, "IT"],
    [74512, "Emma Davis", 47, 197000, "Finance"],
    [83191, "Sophia Perez", 34, 225000, "Transportation"],
    [91023, "Liam Kim", 29, 98000, "Retail"],
    [96435, "Ava Chen", 31, 175000, "Marketing"],
    [100571, "Noah Rodriguez", 28, 85000, "Architecture"],
    [101321, "Olivia Wilson", 44, 310000, "Telecom"],
    [104556, "William Brown", 38, 289000, "Finance"],
    [105491, "Emily Smith", 29, 193000, "Healthcare"],
    [107512, "Michael Perez", 53, 415000, "Transportation"]
]

# listas vacías para agregar clientes y clientas
standard = []
plus = []
elite = []
executive = []

for i in clients:
  if i[3] < 100000:
    standard.append(i)
  elif 10000 < i[3] <= 200000:
    plus.append(i)
  elif 200000 < i[3] <= 300000:
    elite.append(i)
  else:
    executive.append(i)


print(executive)

[[39591, 'Brian Perez', 29, 340000, 'Transportation'], [101321, 'Olivia Wilson', 44, 310000, 'Telecom'], [107512, 'Michael Perez', 53, 415000, 'Transportation']]

In [38]:
#Es el Día de la Juventud y el equipo de marketing desea enviar un correo electrónico para atraer a nuestros clientes y clientas jóvenes.
#Para mejorar la solución anterior, debemos actualizar los criterios de edad para identificar a los clientes y las clientas jóvenes. Para los clientes y las clientas standard, consideramos jóvenes a todos los menores de 40 años; para clientes y clientas no standard, consideramos jóvenes a todos los menores de 35 años.
#Proporciona listas actualizadas con base en estas reglas y luego vuelve a mostrar la lista incluyendo los clientes y las clientas executive.
#Los comentarios que aparecen en el precódigo te ayudarán a realizar los cambios necesarios. Por favor, préstales atención. Si tienes dificultades, no dudes en consultar la pista que te hemos dejado.

clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
    [34556, "Lucas Hernandez", 37, 75000, "Education"],
    [64291, "Jessica Li", 25, 125000, "IT"],
    [74512, "Emma Davis", 47, 197000, "Finance"],
    [83191, "Sophia Perez", 34, 225000, "Transportation"],
    [91023, "Liam Kim", 29, 98000, "Retail"],
    [96435, "Ava Chen", 31, 175000, "Marketing"],
    [100571, "Noah Rodriguez", 28, 85000, "Architecture"],
    [101321, "Olivia Wilson", 44, 310000, "Telecom"],
    [104556, "William Brown", 38, 289000, "Finance"],
    [105491, "Emily Smith", 29, 193000, "Healthcare"],
    [107512, "Michael Perez", 53, 415000, "Transportation"]
]

standard = []
plus = []
elite = []
executive = []

for client in clients:
    if client[3] < 100000 & client[2] <= 40: 
        standard.append(client)
    elif client[3] > 100000 & client[2] <= 35: 
        plus.append(client)
    elif client[3] > 200000 & client[2] <= 35: 
        elite.append(client)
    elif client[3] >= 300000 & client[2] <= 35: 
        executive.append(client)

# no modifiques nada por debajo de esta línea
print(executive)

[]

In [37]:
clients = [ 
  [32456, "Jack Wilson", 32, 150000, "Healthcare"], 
  [34591, "Nina Brown", 45, 250000, "Telecom"], 
  [37512, "Alex Smith", 39, 210000, "IT"], 
  [39591, "Brian Perez", 29, 340000, "Transportation"], [45123, "Sarah Lee", 28, 120000, "Marketing"], 
  [47635, "David Kim", 36, 180000, "Finance"], 
  [49571, "Samantha Chen", 42, 220000, "Retail"], 
  [50391, "Juan Rodriguez", 31, 160000, "Architecture"], [34556, "Lucas Hernandez", 37, 75000, "Education"], 
  [64291, "Jessica Li", 25, 125000, "IT"], 
  [74512, "Emma Davis", 47, 197000, "Finance"], 
  [83191, "Sophia Perez", 34, 225000, "Transportation"], [91023, "Liam Kim", 29, 98000, "Retail"], 
  [96435, "Ava Chen", 31, 175000, "Marketing"], 
  [100571, "Noah Rodriguez", 28, 85000, "Architecture"], [101321, "Olivia Wilson", 44, 310000, "Telecom"], 
  [104556, "William Brown", 38, 289000, "Finance"], 
  [105491, "Emily Smith", 29, 193000, "Healthcare"], 
  [107512, "Michael Perez", 53, 415000, "Transportation"] 
  ] 

standard = [] 
plus = [] 
elite = [] 
executive = [] 

for client in clients: 
  if client[3] < 100000 and client[2] <= 40: 
    standard.append(client) 
  elif 100000 <= client[3] and client[2] <= 35: 
    plus.append(client) 
  elif 200000 <= client[3] and client[2] <= 35: 
    elite.append(client) 
  elif client[3] >= 300000 and client[2] <= 35:
     executive.append(client) 
     
print(executive)

[]