In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://practicum-content.s3.us-west-1.amazonaws.com/data-analyst-eng/moved_chicago_weather_2017.html"

response = requests.get(url)
html_content = response.content
soup = BeautifulSoup(html_content, "html.parser")
weather_table = soup.find("table", attrs={"id": "weather_records"})

dates = []
temperatures = []
descriptions = []

rows = weather_table.find_all("tr")

for row in rows[1:]:
    cols = row.find_all("td")
    cols = [col.text.strip() for col in cols]
    dates.append(cols[0])
    temperatures.append(cols[1])
    descriptions.append(cols[2])


weather_records = pd.DataFrame(
    {"Date and time": dates, "Temperature": temperatures, "Description": descriptions}
)

print(weather_records)

           Date and time Temperature       Description
0    2017-11-01 00:00:00     276.150     broken clouds
1    2017-11-01 01:00:00     275.700  scattered clouds
2    2017-11-01 02:00:00     275.610   overcast clouds
3    2017-11-01 03:00:00     275.350     broken clouds
4    2017-11-01 04:00:00     275.240     broken clouds
..                   ...         ...               ...
692  2017-11-29 20:00:00     281.340        few clouds
693  2017-11-29 21:00:00     281.690      sky is clear
694  2017-11-29 22:00:00     281.070        few clouds
695  2017-11-29 23:00:00     280.060      sky is clear
696  2017-11-30 00:00:00     278.460      sky is clear

[697 rows x 3 columns]

## Trabajar con bases de datos

**Ejercicio 1**

Imprime el campo company_name. Encuentra la cantidad de viajes en taxi para cada compañía de taxis para el 15 y 16 de noviembre de 2017, asigna al campo resultante el nombre trips_amount e imprímelo también. Ordena los resultados por el campo trips_amount en orden descendente.

In [ ]:
SELECT c.company_name, COUNT(t.trip_id) AS trips_amount
FROM cabs c
JOIN trips t ON c.cab_id = t.cab_id
WHERE DATE(t.start_ts) IN ('2017-11-15', '2017-11-16')
GROUP BY c.company_name
ORDER BY trips_amount DESC;